.text404 {
    color: #348f7a;
    font-size: 150px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
}

.sec_img_err {
    filter: brightness(10%) !important;

    width: 100% !important;
}

.notf {
    font-weight: bolder;

}

.back {
    text-decoration: none;
    background-color: #348f7a !important;
    color: white !important;
    margin-bottom: 50px;
    padding: 15px !important;
    width: 190px;
    font-size: large !important;
}

.para {
    color: rgb(109, 109, 109);
}

.col-2-text {
    font-size: 20px;

}

.input-group {
    width: 390px !important;
    height: 70px;

    border-color: chocolate !important;
}

.div_one {
    /* Ensure the background image covers the entire container */
    height: 300px;
    color: white;
    width: 80px;


}

.div_one_h1 {
    color: white;
    font-size: 60px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    margin-right: 50px !important;

}

.div_two_a {
    color: rgb(225, 139, 1);
    margin-right: 10px !important;
    text-decoration: none;


}

.div_two_span {
    margin-left: 10px !important;
    color: white;


}

.cont_tow {
    margin-bottom: 60px !important;
    margin-top: 200px !important;


}


.input-group input.form-control:focus {
    border-color: green !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.input-group input.form-control {
    border-color: orange !important;
}