.accordin_div{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.the_first_col{
    background-color: white;
    border: none !important;
    margin-bottom: 80px !important;

}

.accordion-button{
font-size:18px !important;
font-weight: 700;


}




