.first{
    background-image: url(https://media.istockphoto.com/id/844226534/photo/leaf-background.jpg?s=612x612&w=0&k=20&c=N4NPPNXFU5hPcThEbQ-wr4y64pqSKm-x5AMDZ0sPL5w=);

    background-repeat: no-repeat; 
    background-size: cover;
    height: 400px;

}

.slider{
    background-color:rgba(255, 194, 50, 0.882);
}

.heading {
    font-size: 50px;
    color: white;
    margin-left: 30px; 
    
}
  
  
  

  
  @media (max-width: 768px) {
    .heading {
      font-size: 30px;
    }
  
    .start-btn {
      width: 50px;
      height: 50px;
    }
  }

