.testimonial-container {
  padding: 40px 0;
}

.testimonial-card {
  margin: 10px; /* Adjust margin for spacing between cards */
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 5px;
}

.feedback {
  background-color: #348f7a;
  color: white;
}

.questionheader {
  font-weight: bold;
  font-family: Verdana;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .testimonial-card {
    flex-basis: 50%; /* Display two cards per row */
  }
}

@media screen and (max-width: 992px) {
  .testimonial-card {
    flex-basis: 100%; /* Display one card per row */
  }
}

@media screen and (max-width: 576px) {
  .swiper-slide {
    padding: 10px; /* Add padding to slide content */
  }

  .testimonial-card {
    margin: 10px 0; /* Adjust margin for spacing between cards */
  }

  .card-body {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .card-title {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .card img {
    width: 80px; /* Decrease image size for smaller screens */
  }
}
